#vertical-centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border: 1px solid hsl(120, 50%, 20%);
  background-color: hsl(120, 50%, 90%);
}

#even-spacing {
  display: flex;
  justify-content: space-between;
}

/* Appearance */
#vertical-centering {
  margin-bottom: 100px;
}

#vertical-centering span {
  padding: 75px;
  border: 1px solid hsl(120, 50%, 20%);
  background-color: hsl(120, 50%, 80%);
  color: hsl(120, 50%, 20%);
}

#even-spacing {
  list-style: none;
  padding: 0;
}

#even-spacing li {
  padding: 75px;
  border: 1px solid hsl(240, 50%, 20%);
  background-color: hsl(240, 50%, 80%);
  color: hsl(240, 50%, 20%);
}
